{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create a new page</h1>
    <form action="{% url 'save_edit' %}" method="POST">
        {% csrf_token %}
        <input type="text"  name="title" value="{{title}}">
        <br/>
        <textarea name="content"  style="width: 1000px; height: 300px; margin-top: 10px;" >{{content}}</textarea>
        <br/>
        <input type="submit" style="color: white; background-color: rgb(9, 160, 219);" value="Save Edit">
    </form>
   

{% endblock %}