{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create a new page</h1>
    <form action="{% url 'new' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Title" name="title">
        <br/>
        <textarea name="content" placeholder="Content" style="width: 1000px; height: 300px; margin-top: 10px;" ></textarea>
        <br/>
        <input type="submit" style="color: white; background-color: rgb(9, 160, 219);" value="Create">
    </form>
   

{% endblock %}